<div class=" footer has-background-black">



  <div class="columns">
    <div class="column">
        <h4 class="has-text-light">Social</h4>
        <ul>
          <a href=""><li class=""><fa name="facebook"></fa> Facebook</li></a>
          <a href=""><li class=""><fa name="instagram"></fa> Instagram </li></a>
          <a href=""><li class=""><fa name="mixcloud"></fa> Mixcloud</li></a>
        </ul>
    </div>

    <div class="column">
        <h4 class="has-text-light">Follow Beefy</h4>
        <ul>
          <a href=""><li class="">Facebook</li></a>
          <a href=""><li class="">Instagram</li></a>
          <a href=""><li class="">Mixcloud</li></a>
        </ul>
      </div>

    <div class="column">
        <h4 class="has-text-light">Social</h4>
        <ul>
          <a href=""><li class="">Facebook</li></a>
          <a href=""><li class="">Instagram</li></a>
          <a href=""><li class="">Mixcloud</li></a>
        </ul>

    </div>
  </div>
</div>
