

html, body {
  height: 110vh;
  display: block;
}

.navbar {
  font-family: 'Darker Grotesque', sans-serif;
  float: left;
  width: 20vw;
  min-width: 300px;
  height: 110vh;
}

img {
  position: relative;
}

.ul-wrapper {
  position: relative;
  top: -10vh;
}
