a {
  color: rgba(255, 255, 255);
  opacity: 0.5;
  text-decoration: none;
}

a:hover {
  transition: opacity 0.15s ease-in;
  opacity: 1;
  color: rgb(255, 255, 255);

}

html, body {
  height: 100vh;
}

.navbar {
  font-family: 'Darker Grotesque', sans-serif;
  float: left;
  width: 20vw;
  height: 100vh;
}

